/* modal */
.modalContainer {
  background-color: rgba(241, 217, 237, 0.95);
  position: fixed;
  top: 100px;
  left: 280px;
  right: 300px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: cursive;
}

.header {
  display: flex;
  margin-bottom: 20px;
  width: 80%;
}
.h3 {
  color: black;
}
.div {
  width: 50%;
}
.button {
  color: white;
  border: none;
  margin-left: 500px;
  padding: 10px;
  border-radius: 10px;
}

.description {
  border: 1px solid black;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  text-align: start;
}
